<h1>Data Science Tools and Ecosystem</h1>

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

* Identify commonly used libraries in Data Science.
* Learn basic concepts of jupyter Notebook.
* Understand the languages used in Data Science.

Some of the popular languages that Data Scientists use are:

1. SQL
2. Python
3. R

Some of the commonly used libraries used by Data Scientists include:

1. SciPy
2. Pandas
3. Numbpy

|Data Science Tools|
|-------------------|
|Jupyter Notebook|
|RStudio|
|Apache Zeppelin|

### Below are a few examples of evaluating arithmetic expressions in Python ###

In [5]:
# This a simple arithmetic expression to multiply then add integers:

(3 * 4) + 5

17

In [8]:
# This will convert 200 minutes to hours by diving by 60

200 / 60

3.3333333333333335

<h2> Author</h2>

 Alexis Calbul Garrido